# Certificado IBM: MÃ³dulo 4

## Read/write files

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. <br>
Given the file `currentMem`, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the `exMem` file. Make sure that the format of the original files in preserved.   (*Hint: Do this by reading/writing whole lines and ensuring the header remains* ) <br>
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the `cleanFiles` function.

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.

#### **Exercise:** Implement the cleanFiles function in the code cell below.

In [ ]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem, 'r+') as currentMembers:
        #TODO: Open the exMem file in a+ mode
        with open(exMem, 'a+') as exMembers:
            #TODO: Read each member in the currentMem (1 member per row) file into a list.
            # Hint: Recall that the first line in the file is the header.
            header = currentMembers.readline()
            #TODO: iterate through the members and create a new list of the innactive members

            # Go to the beginning of the currentMem file
            # TODO: Iterate through the members list. 
            # If a member is inactive, add them to exMem, otherwise write them into currentMem
            activeMembers = []
            for member in currentMembers:
                splitted = member.split() # split from spaces
                # if last item (is active) is no, add to exMem, otherwise write into currentMem
                if splitted[-1] == 'yes':
                    activeMembers.append(member)
                else:
                    exMembers.write(member)
            
            # Add active members to file
            currentMembers.seek(len(header), 0) # get into the first line of data in current members file
            # add all active members to file
            for member in activeMembers:
                currentMembers.write(member)
            currentMembers.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    34365      2015-8-6     yes
    58674      2017-6-18    yes
    91573      2017-1-14    yes
    73536      2017-12-14   yes
    72005      2020-12-2    yes
    56260      2016-6-2     yes
    77428      2020-11-2    yes
    41338      2020-9-1     yes
    73536      2017-12-14   yes
    72005      2020-12-2    yes
    56260      2016-6-2     yes
    77428      2020-11-2    yes
    41338      2020-9-1     yes

Inactive Members:


Membership No  Date Joined  Active
    92059      2016-12-5    no
    17120      2017-11-17   no
    87068      2019-12-6    no
    49635      2017-12-2    no
    85096      2015-4-16    no
    99083      2015-11-15   no
    48434      2017-12-18   no
    92277      2017-1-5     no
    68322      2020-6-18    no
    98358      2018-9-18    no
    59089      2019-5-18    no
    70103      2017-8-25    no
    49840      2016-6-25    no
    30585      2020-4-25    no
    59105      2016-10-15   no
    68322      2020-6-18    no
    98358      2018-9-18    no
    59089      2019-5-18    no
    70103      2017-8-25    no
    49840      2016-6-25    no
    30585      2020-4-25    no
    59105      2016-10-15   no

## Load Data in Pandas

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[["Rating"]]
type(q)

pandas.core.frame.DataFrame

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[["Released", "Artist"]]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1, 2]

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [ ]:
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index
df_new.loc["a", "Artist"]
df_new.loc["a":"d", 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

You will use the dataframe <code>df</code> for the following:

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1.  Display the first three rows:

In [ ]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2.  Obtain column  <code> 'a' </code>:

In [ ]:
df[["a"]]

    a
0  11
1  21
2  31