# Certificado IBM (Data Analysis with Python): Módulo 2

## Data Wrangling

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>Based on the example above, replace NaN in "stroke" column with the mean value.</b>

</div>

In [ ]:
df["stroke"].dtype # check data type

dtype('O')

In [ ]:
df[["stroke"]].describe()

       stroke
count     201
unique     36
top      3.40
freq       20

In [ ]:
avg_stroke = df["stroke"].astype("float").mean(axis=0)
df["stroke"].replace(np.nan, avg_stroke, inplace=True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".</b>

</div>

In [ ]:
df["highway-L/100km"] = 235/df["highway-mpg"]

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #3: </h1>

<b>According to the example above, normalize the column "height".</b>

</div>

In [ ]:
df["height"] = df["height"]/df["height"].max()

df[["height", "width", "length"]].describe()

           height       width      length
count  201.000000  201.000000  201.000000
mean     0.899108    0.915126    0.837102
std      0.040933    0.029187    0.059213
min      0.799331    0.837500    0.678039
25%      0.869565    0.890278    0.801538
50%      0.904682    0.909722    0.832292
75%      0.928094    0.925000    0.881788
max      1.000000    1.000000    1.000000

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>Similar to before, create an indicator variable for the column "aspiration"</b>

</div>

In [ ]:
dummy_variable_2 = pd.get_dummies(df["aspiration"])
print(dummy_variable_2.head())

   std  turbo
0    1      0
1    1      0
2    1      0
3    1      0
4    1      0

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.</b>

</div>

In [ ]:
# merge data frame and dummy_variable_2
df = pd.concat([df, dummy_variable_2], axis=1)

# drop aspiration column from df
df.drop("aspiration", axis = 1, inplace=True)

df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km,horsepower-binned,fuel-type-diesel,fuel-type-gas,std,turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,21,27,13495.0,11.190476,8.703704,Low,0,1,1,0
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,21,27,16500.0,11.190476,8.703704,Low,0,1,1,0
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,19,26,16500.0,12.368421,9.038462,Medium,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,24,30,13950.0,9.791667,7.833333,Low,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,18,22,17450.0,13.055556,10.681818,Low,0,1,1,0